@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="div-big-center">
    
    <h3 style="text-align:center">請選擇作業</h3>
    <button style="margin:10px;border:1px solid #1e1e1e;border-radius:5px;" type="button" onclick="show('hw1' , '/hw1.xml');return false;">第一次作業</button>
    <button style="margin:10px;border:1px solid #1e1e1e;border-radius:5px;" type="button" onclick="show('files' , '/files.xml' );return false;">檔案下載</button>
</div>